body, h1, h2, h3, p, ul, li {
	margin: 0;
	padding: 0;
}

body {
	background-color: #444;
	font-family: Arial, sans-serif;
}

header {
	background-color: #c4c75e;
	color: #fff;
	text-align: center;
	padding: 20px;
}

nav ul {
	list-style: none;
	background-color: #333;
	text-align: center;
	padding: 10px;
}

nav ul li {
	display: inline;
	margin-right: 10px;
}

nav ul li a {
	color: #fff;
	text-decoration: none;
}

main {
	padding: 20px;
	color: #fff;
}

footer {
	background-color: #c4c75e;
	color: #fff;
	text-align: center;
	padding: 10px;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
}

main p {
	margin-bottom: 20px;
	line-height: 1.6;
}

footer p {
	font-size: 12px;
}

nav ul li a:hover {
	color: #c4c75e;
}

h1 {
	color: #fff;
}

a {
	color: #bbb;
}

form {
	color: #bbb;
}

form input[type="submit"] {
	margin-left: 103px;
}