
body, h1, h2, h3, p, ul, li {
	margin: 0;
	padding: 0;
}

body {
	background-color: #444;
	font-family: Arial, sans-serif;
}

header {
	background-color: #64b3e3;
	color: #fff;
	text-align: center;
	padding: 20px;
}

#logo {
	max-width: 400px; /* Set the maximum width of the image */
	position: absolute; /* Position the image absolutely within the header */
	top: 10px; /* Position at the top */
	left: 10px; /* Position at the left */
}

nav ul {
	list-style: none;
	background-color: #444;
	text-align: center;
	padding: 10px;
}

nav ul li {
	display: inline;
	margin-right: 10px;
}

nav ul li a {
	color: #fff;
	text-decoration: none;
}

main {
	padding: 20px;
	color: #fff;
}

footer {
	background-color: #333;
	color: #fff;
	text-align: center;
	padding: 10px;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
}

main p {
	margin-bottom: 20px;
	line-height: 1.6;
}

footer p {
	font-size: 12px;
}

nav ul li a:hover {
	color: #ff9900;
}

h1 {
	color: #fff;
}

a {
	color: #bbb;
}

form {
	color: #bbb;
}

button {
	margin-left: 103px;
}